<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Calculate-yearly-stock-price-returns" data-toc-modified-id="Calculate-yearly-stock-price-returns-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Calculate yearly stock price returns</a></span></li></ul></div>

## Calculate yearly stock price returns

In [1]:
import pandas as pd

In [2]:
stocks = pd.read_csv("./data/stock_data.csv",
                index_col="Unnamed: 0",
                parse_dates=True)

stocks.head()

            AAPL   MSFT    XOM     SPX
2003-01-02  7.40  21.11  29.22  909.03
2003-01-03  7.45  21.14  29.24  908.59
2003-01-06  7.45  21.52  29.96  929.01
2003-01-07  7.43  21.93  28.95  922.93
2003-01-08  7.28  21.31  28.83  909.93

In [3]:
stocks

              AAPL   MSFT    XOM      SPX
2003-01-02    7.40  21.11  29.22   909.03
2003-01-03    7.45  21.14  29.24   908.59
2003-01-06    7.45  21.52  29.96   929.01
2003-01-07    7.43  21.93  28.95   922.93
2003-01-08    7.28  21.31  28.83   909.93
...            ...    ...    ...      ...
2011-10-10  388.81  26.94  76.28  1194.89
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

[2214 rows x 4 columns]

In [4]:
stocks = stocks.pct_change().dropna()

In [5]:
stocks['year'] = stocks.index.year

In [6]:
stocks.head()

                AAPL      MSFT       XOM       SPX  year
2003-01-03  0.006757  0.001421  0.000684 -0.000484  2003
2003-01-06  0.000000  0.017975  0.024624  0.022474  2003
2003-01-07 -0.002685  0.019052 -0.033712 -0.006545  2003
2003-01-08 -0.020188 -0.028272 -0.004145 -0.014086  2003
2003-01-09  0.008242  0.029094  0.021159  0.019386  2003

In [8]:
stocks.groupby('year').sum()*100

            AAPL       MSFT        XOM        SPX
year
2003   43.584872   6.898664  18.771676  21.552070
2004  118.442218  10.185021  25.943358   9.226193
2005   87.945329   0.095162  13.837245   3.483644
2006   23.832396  16.859259  34.845801  13.269720
2007   91.965795  21.529358  24.568472   4.740316
2008  -66.939672 -47.032987  -0.880614 -40.145891
2009   96.233386  54.235841 -10.095848  24.783483
2010   46.161592  -4.332628  11.263742  13.656375
2011   29.584961   1.784256  10.903390  -0.663912